.card{
    height: 220px;
    width: 180px;
    color: rgb(58, 58, 58);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.card img{
    height: 120px;
    width: 140px;
    border-radius: 25px;
    margin: auto;
}
.card-title{
    font-size: 16px;
    margin-top: 3px;
    overflow-y: hidden;
}
.card-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}
.btn-requests{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(0, 219, 0);
    color: #fff;
}
.btn-requests:hover{
    background-color: #0f0;
    cursor: pointer;
}
.card-price{
    font-weight: bold;
    font-size: 16px;
    padding: 0 2px;
}

@media(max-width:420px){
    .card{
        height: 240px;
        width: 170px;
        margin-top: 10px;
        font-size: 13px;
    }
    .card img{
        height: 150px;
        width: 165px;
    }
}