.bolos,.paes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.container-pesquisa{
    width: 220px;
    align-self: flex-start;
}
.container-pesquisa input{
    height: 25px;
    font-size: 15px;
    margin-left: 10px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
}
@media(max-width:500px){
    .bolos,.paes{
        overflow: hidden;
    }
}