.header {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.712);
    height: 55px;
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 1;
    padding: 8px 24px;
}

.navBar {
    display: flex;
    align-items: center;
}

.nav-links-container {
    display: flex;
    height: 100%;
    width: 220px;
    margin-left: 30px;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    color: #b3b3b3;
    font-weight: bold;
    padding: 6px 10px 10px 10px;
    border-radius: 8px;
}

.nav-link--selected {
    color: #fff;
}

.nav-link:hover {
    background-color: #b3b3b342;
}

.navBar-logo {
    height: 40px;
    border-radius: 20%;
}

.container-search {
    height: 30px;
    width: 220px;
    position: fixed;
    top: 20px;
    z-index: 4;
    right: 20px;
}

.search{
    position: relative;
    width:194px;
    margin: 0 auto;
    display: flex;
}

.search-input {
    height: 25px;
    font-size: 15px;
    padding-left: 4px;
    background-color: inherit;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
}

.search-cleanBtn{
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}

@media(max-width: 500px) {
    .header {
        position: fixed;
        top: unset;
        bottom: -1px;
    }

    .nav-links-container {
        width: 180px;
    }

    .nav-link {
        text-align: center;
        align-self: center;
        margin-right: 10px;
    }

    .nav-link:hover {
        background-color: transparent;
    }

    .container-search {
        background: transparent;
        right: 0;
        width: 100%;
        position: fixed;
        margin-top: 6px;
        top: 36px;
    }

    .search-input {
        width: 194px;
        color: #000;
        padding-left: 5px;
        border-bottom: 1px solid #333;
    }

    .search-input::placeholder {
        color: #333;
    }
}