.navBar{
    width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
}
.nav-links-container{
    display: flex;
    height: 100%;
    width: 220px;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    height: 35px;
    color: #fff;
    padding: 5px;
}
.nav-link:hover{
    border-radius: 5px;
    background-color: rgba(255, 246, 246, 0.315);
}
.navBar-logo{
    height: 40px;
    border-radius: 20%;
}
@media(max-width: 500px){
    nav{
        position: fixed;
        bottom: 0;
    }
    .nav-links-container{
        width: 180px;
        margin: 0 auto;
    }
    .nav-link{
        text-align: center;
        align-self: center;
    }
}